// Import page-specific CSS files here.
@import "home";


body {
  background: #fef9fc;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.main_copy {
  display: flex;
  margin: 65px;
  color: #fff;
  flex-direction: column;
  justify-content: center;
}

.main-banner {
  background: rgb(204,51,153);
  background: linear-gradient(45deg, rgba(204,51,153,1) 0%, rgba(153,51,153,1) 100%);
  justify-content: space-between;
}

.index_map {
  height: 365px;
  border-radius: 10px;
}

.map_and_search {
  width: 725px;
  margin: 25px;
  display: flex;
  flex-direction: column;
}

.booking-button {
  margin-top: 15px;
  color: #cc3399;
  background-color: #ffccff;
  border: none
}

.booking-button:hover {
  color: #fff;
  background-color: #cc3399;
}

.booking-button:visited {
  color: #fff !important;
  background-color: #cc3399 !important;
}

.booking-button:focus {
  color: #fff;
  background-color: #cc3399;
}

.booking-button:active {
  color: #fff !important;
  background-color: #cc3399 !important;
}

.search_text_and_form{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_text_and_form p {
  margin: 0;
  color: #fff;
  letter-spacing: .1rem;
}

.main-cta {
  margin-top: 25px;
  color: #fff;
  font-weight: bold;
  letter-spacing: .07rem;
  background-color: transparent;
  border-color: #fff;
  transition: 0.5s;
}

.main-cta:hover {
  background-color: #F4F4F4;
  color: #cc3399;
  border-color: #fff;
}

.main-cta:active {
  background-color: #F4F4F4 !important;
  color: #cc3399 !important;
  border-color: #fff !important;
}

.forgot-password {
  margin-top: 30px;
  border-color: #cc3399;
  background-color: transparent;
  color: #cc3399;
}

.forgot-password:hover {
  background-color: #cc3399;
  border-color: #cc3399;
  color: #fff;
}

.alert-danger {
  border-color: #cc3399 !important;
  background-color: #ffccff !important;
  color: #cc3399 !important;
}

.login {
  background-color: #ffccff;
  border-color: #ffccff;
  color: #cc3399;
}

.login:hover {
  background-color: #cc3399;
  border-color: #cc3399;
  color: #fff;
}

.form-control:focus {
  box-shadow:#ffccff !important;
}

.login:active {
  background-color: #cc3399 !important;
  border-color: #cc3399 !important;
  color: #fff !important;
}

.dropdown-item:active {
  background-color: #cc3399;
  border-color: #cc3399;
  color: #fff !important;
}

.find-castles {
  color: #fff;
  border-color: #fff;
  border-left: none;
  transition: 0.5s;
}

.find-castles:hover {
  background-color: #F4F4F4;
  color: #cc3399;
  border-color: #fff;
}

.location_search {
  background-color: #ffccff;
  color: #cc3399;
  border-color: #fff;
  border-right: none;
}

.location_search::placeholder {
  color: #cc3399;
}

.location_search:focus {
  border-color: #fff !important;
  box-shadow: none;
  background-color: #ffccff;
}

.location_search:active {
  border-color: #fff;
  box-shadow: none;
}

.banner-full {
  height: 100vh;
}

h1 {
  font-size: 65px;
  font-family: 'Pacifico', cursive;
  margin-bottom: 30px;
  font-weight: 100;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  font-weight: 100;
  font-family: 'Pacifico', cursive;
  margin-bottom: 5px;
}

p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

.castle {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(50,50,50,.2);
  padding: 15px 20px;
  margin: 15px 0px;

  p {
    margin-bottom: .7em;
  }
}

.castle-overview {
  padding: 10px;
  text-align: center;

  .castle-link {
    color: #333;
    text-decoration: none;
    margin: 15px 0px;
    text-transform: capitalize;
  }
}


.castle-img img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  margin-bottom: 24px;
}

.img-fluid {
  height: 100%;
}
