// Import page-specific CSS files here.
@import "home";


body {
  background: #fff;
}

.main_copy {
  margin: 65px;
  align-items: center;
  color: #fff;
}

.d-flex {
  background-color: #cc3399;
  justify-content: space-between;
}

.btn-primary {
  padding: 12px 18px;
  background-color: #fff;
  color: #cc3399;
  font-weight: bold;
  border: none;
  border-radius: 15px;
}

.index_map {
  height: 365px;
  border-radius: 10px;
}

.map_and_search {
  margin: 25px;
  display: flex;
  flex-direction: column;
}

.search_text_and_form{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_text_and_form p {
  margin: 0;
  color: #fff;
}

.banner-full {
  height: 100vh;
}

h1 {
  font-size: 52px;
  font-weight: 600;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 26px;
  font-weight: 100;
  font-family: 'Pacifico', cursive;
  margin-bottom: 5px;
}

p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}



.castle {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(50,50,50,.2);
  padding: 15px 20px;
  margin: 15px 0px;

  p {
    margin-bottom: .7em;
  }
}

.castle-overview {
  padding: 10px;
  text-align: center;

  .castle-link {
    color: #333;
    text-decoration: none;
    margin: 15px 0px;
    text-transform: capitalize;
  }
}


.castle-img img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  margin-bottom: 25px;
}
