<div class="container">
  <h1>Your booking has been submitted</h1>
  <h3><%= @booking.comment %></h3>
  <p>Your booking from <%= @booking.date_from %> to <%= @booking.date_to %> for <%= @castle.name %> has been submitted.</p>
</div>
