.mapboxgl-popup {
  min-width: 300px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #cc3399;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 20px !important;
}

.mapboxgl-popup-content h2 {
  margin-top: 10px;
}
