<div class="banner">
  <div class="container">
    <h1>Weclome to Bouncy Castles</h1>
    <h3> Stop adulting and jump into the fun zone! </h3>
    <p>Book your bouncy castle today </p>
  </div>
  <div class="d-inline">
    <%= link_to 'Rent out your bouncy castle', new_castle_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @castles.each do |castle| %>
      <div class="col-4">
      <%= link_to(castle_path(castle)) do %>
        <div class="castle castle-overview">
          <div class="castle-img">
            <%= cl_image_tag(castle.photo.key)%>
          </div>
          <h4><%= link_to castle.name, castle_path(castle), class: 'castle-link'%></h4>
        </div>
      <%end%>
      </div>
    <% end %>
</div>
